<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

  <div class="logo">
  <a><%= link_to "FindNakama", root_path, class:"fa-solid fa-user-group" %></a>
  </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown">
             <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

 <div class="scrollmenu d-flex justify-content-around">
    <%= link_to "sport" ,activities_path(category: "sport") %>
    <%= link_to "nature" ,activities_path(category: "nature") %>
    <%= link_to "party" ,activities_path(category: "party") %>
    <%= link_to "games" ,activities_path(category: "games") %>
    <%= link_to "culture" ,activities_path(category: "culture") %>
    <%= link_to "Post an Activity", new_activity_path, class:'btn btn-primary' %>
  </div>
