<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

  <div class="logo">
    <i class="fa-solid fa-user-group"></i>
    <%= link_to "FindNakama", root_path %>
  </div>

 <div class="searchbar mr-auto p-2"><%= render 'shared/searchbar' %></div>

  <div class="d-flex">

  </div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown d-flex">
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="p-2">
                  <%= link_to "Add activity", new_activity_path %>
                </div>

                <div class="p-2" id="Nav-dash-btn">
                  <%= link_to "Dashboard", dashboards_path %>
                  <% unless current_user.notifications == 0 %>
                    <div class="notifications">
                      <%= current_user.notifications %>
                    </div>
                  <% end %>
                </div>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <div class="scrollmenu d-flex justify-content-around">
    <div class= "icone">
      <%= link_to "Sport" ,activities_path(category: "sport") %>
      <i class="fa-solid fa-volleyball"></i>
    </div>
    <div class = "icone">
      <%= link_to "Nature" ,activities_path(category: "nature") %>
      <i class="fa-solid fa-person-hiking"></i>
    </div>
    <div class = "icone">
      <%= link_to "Party" ,activities_path(category: "party") %>
      <i class="fa-solid fa-champagne-glasses"></i>
    </div>
    <div class= "icone">
      <%= link_to "Games" ,activities_path(category: "games") %>
      <i class="fa-solid fa-dice"></i>
    </div>
    <div class= "icone">
      <%= link_to "Culture" ,activities_path(category: "culture") %>
      <i class="fa-solid fa-palette"></i>
    </div>

  </div>
