<%= render 'shared/navbar' %>

<div class="container dashboard-margin-bottom">
  <div class="grid">
    <div class="grid-left">
    <h2>Calendar</h2>
    <input type="date" class="flatpickr d-none" data-controller="flatpickr">
    </div>
  <div>
    <h2>Request</h2>
    <div>
      <% current_user.bookings.each do |booking| %>
      <div>
        <%= booking.activity.title %>
        <em class="<%=booking.state%>"><%= booking.state %></em>
      </div>
      <% end %>
    </div>
  </div>

  <div>
    <h2>my activities</h2>
    <div>
      <% current_user.activities.each do |activity| %>
      <div class="my-activity-card">
        <h3><%= activity.title %></h3>
        <div class="joinning">
          <% activity.bookings.each do |booking| %>
            <% if booking.state == "pending" %>
                <p><strong><%=booking.user.name%></strong> wants to join this activity</p>
                  <%= link_to "accept", accept_path(booking),class:'btn btn-primary'%>
                  <%= link_to "decline", decline_path(booking),class:'btn btn-danger', data: {turbo_method: :patch} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>



</div>
  </div>
  </div>

</div>
