<%= render 'shared/navbar' %>

<div class="container">
  <div class="flex-dashboard-container">
      <div class="request-container">
        <h2> Request </h2>
          <div class="border"></div>
          <div class="padding-container">
          <% current_user.bookings.each do |booking| %>
           <div class="joinning">
          <strong><%= booking.activity.title %></strong> : your request is
            <em class="<%=booking.state%>"><%= booking.state %></em><br>
            </div>
          <% end %>
          </div>
      </div>

    <div class="activity-container">
      <h2>My activities</h2>
        <div class="border"></div>
        <div class="padding-container">
          <% current_user.activities.each do |activity| %>
            <div class="joinning">
            <h3><%= activity.title %></h3>
              <% activity.bookings.each do |booking| %>
                <% if booking.state == "pending" %>
                <div class="flex-flex">
                    <p><strong><%=booking.user.name%></strong> wants to join this activity</p>
                      <div class="flex-flex-child">
                        <%= link_to "accept", accept_path(booking),class:'btn btn-primary'%>
                        <%= link_to "decline", decline_path(booking),class:'btn btn-danger', data: {turbo_method: :patch} %>
                      </div>
                    </div>
                <% end %>
            </div>
              <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>
