<%= render 'shared/navbar' %>

<div class="container">
  <% if @category %>
    <h1 class="text-center m-5"><%= @category %></h1>
    <% if  @category_activities.empty? %>
      <h2 class="empty m-5 text-center">No Activity registered.</h2>
    <%else %>
      <div class="cards">
        <% @category_activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
            <%= render 'shared/card_activity', activity: activity %>
          <% end %>
        <% end %>
       </div>
    <% end %>
  <% end %>

  <h2 class="text-center m-5">All activities</h2>
  <div class="cards">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
      <%= render 'shared/card_activity', activity: activity %>
      <% end %>
    <% end %>
  </div>
</div>


