<div class="container p-5">

  <div class="card p-5" data-controller="category-activity">

    <div class="d-flex">
      <% Activity::AVAILABLE_CATEGORIES.each do |category| %>
        <div class="card_category" data-action="click->category-activity#select_category" value="<%=category%>"><%= category %></div>
      <% end %>
    </div>


  <div class="d-flex justify-content-center" data-controller="flatpickr-activity">
    <div class="form m-5">
      <%= simple_form_for @activity do |f| %>
        <div class="d-none">
          <%= f.input :category, collection: Activity::AVAILABLE_CATEGORIES, input_html: { data: { "category-activity-target" => 'input' }} %>
        </div>
        <%= f.input :title %>
        <%= f.input :content, prompt: 'describe your activity' %>
        <%= f.input :location, prompt: 'describe your activity' %>
        <%= f.input :photo, as: :file  %>
        <%= f.input :date, as: :hidden,  input_html: { data: { flatpickr_activity_target: "date" } } %>

        <%= f.submit "Create", class:"btn btn-primary" %>
     <% end %>
    </div>
    <div class="calendar m-5">
      <div class="container dashboard-margin-bottom">
        <div class="grid-right">
          <div class="grid-right">
            <h2>What Date?</h2>
            <input type="date" class="flatpickr d-none" data-flatpickr-activity-target="calendar">
          </div>
       </div>
      </div>
    </div>
  </div>


  <div class="arrow">
    <%= link_to  activities_path do %>
      <i class="fa-solid fa-arrow-left arrow-color"></i>
   <% end %>
  </div>
</div>
