<%= render "shared/navbar" %>
<div class="container-show">
  <div class="img-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @activity.image_url %>)">
 <h1><%= @activity.title.capitalize %></h1>
</div>

  <div class="card-show">
    <p> <strong><%= "Description : "%></strong></p>
   <div class="card-show-infos">
      <h2><%= @activity.content %></h2>
    </div>

    <button type="button" class="btn btn-primary" >Reservé</button>
    <p class="test1"><strong><%= "Contact : " %></strong></p>
    <div class="card-show-info2">
      <p><%= @activity.user.name %></p>
      <p><%= @activity.user.email %></p>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>



  <% if policy(@activity).destroy? %>
    <%= link_to "Delete Activity", activity_path(@activity), data: {turbo_method: :delete} %>
  <% end %>


<% if policy(@activity).edit? %>
  <%= link_to "Edit Activity",  edit_activity_path(@activity) %>
<% end %>
</div>
