<%= render "shared/navbar" %>


    <div class="container">
      <h1><%= @activity.title.capitalize %></h1>
        <img src="<%= @activity.image_url%>" alt="activity-img">
            <div class="card-show">
            <p><strong><%= "Description : "%></strong></p>
          <div class="card-show-info">
        <h3><%= @activity.content %></h3>
    </div>


    <div class="card-show-info3">
      <p><%= @activity.location %></p>
        <%= simple_form_for [@activity,Booking.new] do |f| %>
          <%= f.submit %>
        <% end %>
          <p class="test1"><strong><%= "Contact : " %></strong></p>
          <div class="card-show-info2">
        <p><%= @activity.user.name %></p>

      <p><%= @activity.user.email %></p>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>



  <% if policy(@activity).destroy? %>
    <%= link_to "Delete Activity", activity_path(@activity), data: {turbo_method: :delete} %>
  <% end %>


<% if policy(@activity).edit? %>
  <%= link_to "Edit Activity",  edit_activity_path(@activity) %>
<% end %>
</div>
