<h1><%= @activity.title %></h1>

<h3><%= @activity.content %></h3>
<p><%= @activity.location %></p>
<p><%= link_to "Delete Activity", activity_path(@activity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<p><%= link_to "Edit Activity",  edit_activity_path(@activity) %></p>
