  <%= render "shared/navbar" %>
<div class="container">
    <h1><%= @activity.title.capitalize %></h1>
    <p><%= "photo" %></p>
  <div class="card-show">
    <div class="card-show-info">
      <h3><%= @activity.content %></h3>
    </div>
    <div class="card-show-info2">
      <p><%= @activity.location %></p>
    </div>
  </div>
      <p><%= link_to "Delete Activity", activity_path(@activity), data: {turbo_method: :delete} %></p>
      <p><%= link_to "Edit Activity",  edit_activity_path(@activity) %></p>
</div>
